@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap");

.App {
  background-color: rgb(193, 193, 193);
  position: relative;
  min-height: 100vh;
  font-family: "Gluten", cursive;
  text-align: center;
}

.navbar {
  background-color: rgb(16, 172, 120);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

#home {
  text-decoration: none;
  color: rgb(85, 27, 139);
}

#search {
  text-decoration: none;
  color: rgb(85, 27, 139);
}

#newdrink {
  text-decoration: none;
  color: rgb(85, 27, 139);
}

#about {
  text-decoration: none;
  color: rgb(85, 27, 139);
}

.main {
  padding-top: 65px;
  padding-bottom: 60px;
}

.body {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.body .thumbnail {
  width: 20vw;
  min-width: 100px;
}

.moreButton {
  background-color: rgb(16, 172, 120);
  border: none;
  padding: 5px 5px;
  border-radius: 8px;
}

.moreButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editButton {
  background-color: rgb(16, 172, 120);
  border: none;
  padding: 5px 5px;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
}

.editButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.deleteButton {
  background: transparent;
  border: none;
  color: rgb(193, 193, 193);
}

.deleteButton:hover {
  background-color: rgb(16, 172, 120);
  border: none;
  padding: 5px 5px;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drinkOfDay .bartender {
  width: 30vw;
  max-width: 280px;
  min-width: 100px;
}

.drinkPhoto {
  max-width: 30vw;
  min-width: 200px;
}

.mixingPhoto {
  max-width: 200px;
  margin-top: 30px;
  border-radius: 65px;
}

.ingredientList {
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.footer {
  background-color: rgb(16, 172, 120);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer .githubIcon {
  width: 90%;
}

.footer .linkedInIcon {
  width: 32px;
}

.aboutText {
  width: 300px;
  margin: auto;
}

.aboutList {
  display: inline-block;
  text-align: left;
}

@media (max-width: 800px) {
  .drinkOfDay .bartender {
    display: none;
  }
  .body {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .body {
    color: purple;
  }
}
