.App {
  background-color: rgb(193, 193, 193);
  position: relative;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: rgb(16, 172, 120);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
}

.body {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.body .thumbnail {
  width: 20vw;
}

.drinkOfDay .bartender {
  max-width: 25vw;
  min-width: 100px;
}

.drinkPhoto {
  max-width: 30vw;
  min-width: 200px;
}

.ingredientList {
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.footer {
  background-color: rgb(16, 172, 120);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.footer .githubIcon {
  width: 90%;
}

.footer .linkedInIcon {
  width: 32px;
}

.aboutText {
  width: 300px;
  margin: auto;
}

.aboutList {
  display: inline-block;
  text-align: left;
}

@media (max-width: 800px) {
  .drinkOfDay .bartender {
    display: none;
  }
  .body {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .body {
    color: purple;
  }
}
